<div class="sidenav-container">
  <div class="sidenav-header">

    <div class="profile">
      <div class="profile-pic">
        <img src="assets/images/profileIcon.jpg" alt="Profile Photo">
      </div>
      <div class="profile-info">
        <h4>David Gomes</h4>
        <p>david.sousa@lbca.com.br</p>
      </div>
    </div>

  </div>

  <div class="menu-items">
    <div class="menu-item" *ngFor="let menu of menus">
      <a mat-button [routerLink]="menu.rota" routerLinkActive="active">
        <mat-icon>{{ menu.icons }}</mat-icon>
        <span>{{ menu.descricao }}</span>
      </a>
    </div>
  </div>

  <div class="sidenav-footer">
    <button mat-icon-button aria-label="Sair">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>
