
/* nav.component.css */
.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-items {
  flex: 1; /* Faz com que ocupe o espaço disponível entre header e footer */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
}

.sidenav-header,
.sidenav-footer {
  padding: 12px;
}

.sidenav-header {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(135deg, #3f51b5 0%, #4255c0 50%, #404fa7 100%); /* Gradiente de fundo com cores mais fortes */
  text-align: center; /* Centraliza o conteúdo do cabeçalho */
  color: #f1f1f1; /* Cor do texto para contraste */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 100px; /* Tamanho do círculo */
  height: 100px;
  border-radius: 50%; /* Faz o círculo */
  overflow: hidden; /* Garante que a imagem se encaixe no círculo */
  margin-bottom: 12px; /* Espaçamento entre a imagem e o texto */
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o círculo */
}

.profile-info h4{
  margin: 0; /* Remove as margens padrão */
  font-family: 'GothamRounded';
  font-size: 15px;
  font-weight: 600;
}

.profile-info p {
  margin: 0; /* Remove as margens padrão */
  font-family: 'GothamRounded';
  font-size: 15px;
  font-weight: 500;
}

.menu-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha ícone e texto à esquerda */
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}

.menu-item {
  display: flex;
  margin: 4px;
}

.menu-item a span {
  font-family: 'GothamRounded';
  font-size: 17px;
  font-weight: 600;
}

.menu-item a mat-icon {
  margin-right: 8px; /* Espaço entre ícone e texto */
  font-size: 26px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-out; /* Transição suave para a transformação */
  width: 26px;
  height: 26px;
}

.menu-item a {
  transition: color 0.3s ease; /* Transição suave para a cor do ícone */
  color: rgba(0, 0, 0, 0.7);
}

.menu-item a:hover  {
  color: #3f51b5;  /* 3f51b5cb*/
  transform: scale(1.02);
}

.sidenav-footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 13px;
  border-top: 1px solid #ccc;
}

.sidenav-footer button mat-icon {
  margin-right: 8px; /* Espaço entre ícone e texto */
  font-size: 30px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-out; /* Transição suave para a transformação */
  width: 30px;
  height: 30px;
}

.sidenav-footer button:hover  {
  color: #3f51b5;  /* 3f51b5cb*/
  transform: scale(1.03);
}

