<h2 mat-dialog-title>3827 - Amil (Cível) – Criação de Campos no Módulo Fechamento e Inclusão em Relatório Customizado</h2>
<mat-dialog-content class="mat-typography my-custom-modal">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Informações Do Projeto"><app-infos-projetos></app-infos-projetos></mat-tab>
    <mat-tab label="Historico de Atividades">Content 2</mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--<button mat-raised-button color="primary" cdkFocusInitial>Salvar</button>-->
  <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
</mat-dialog-actions>






