* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container-table {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.table100 {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.table100 th {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  background-color: #222;
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100 td {
  font-family: Lato-Regular;
  text-align: center;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  background-color: #fff;
}

.matPaginator {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mat-elevation-paginator{
  box-shadow:
  0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 5px 0px 5px rgba(0, 0, 0, 0.014);
  color: gray;
  background-color: #FFFFFF;
}

/*: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);*/
