

.container-table {
  flex: 1; /* Permite que o container-table cresça para preencher o espaço disponível */
  padding: 30px;
  max-height: 100%; /* Garante que o container-table não exceda a altura do container pai */
  min-height: 1000px; /* Define uma altura mínima para o container-table */
}
.container-table th {
  font-family: 'GothamRounded';
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.container-table td {
  font-family: 'GothamRounded';
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-paginator {
  box-shadow:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 5px 0px 5px rgba(0, 0, 0, 0.014);
  color: gray;
  background-color: #ffffff;
}

.filter {
  background-color: #fafafa;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
}


.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #fafafa8f;
  transition: color 0.3s ease; /* Transição suave para a cor do ícone */
}

.mat-mdc-row:hover .mat-mdc-cell:last-child {
  position: relative;
  overflow: hidden; /* Para que o gradiente não ultrapasse o limite do td */
}

.mat-mdc-row:hover .mat-mdc-cell:last-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5%; /* Ajuste a largura conforme necessário */
  height: 100%;
  background:#3f51b5; /* Gradiente de cor para a borda direita */
}

.mat-mdc-row:hover .mat-mdc-cell   {
  color: #3f51b5; /* Cor do ícone ao passar o mouse */
  transform: scale(1.03)
}

