*, *::before, *::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.form-group {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px; /* Espaçamento entre o label e a textarea */
  color: #212121;
  font-size: 15px;
}

.textAreainfos{
  border-radius: 10px;
  border: 1px solid rgb(172, 172, 172);
  padding: 20px;
  width: 100%;
  margin-top: 10px;
  resize: vertical;
}

.selectStyle {
  width: 520px;
  height: 30px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.25rem;
  color: #495057;
  text-align: left;
  padding-left: 10px;
}

.selectStyle option {
  color: #495057;
}

select.selectStyle:disabled{
  background-color: #fafafa;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens verticalmente */
  margin: 15px 20px 20px;
}

.container label {
  display: block;
}


.form-group-Select, .form-group-input {
  display: flex;
  justify-content: space-between; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  width: 100%;
  margin-top: 10px;
}

.inputStyle {
  width: calc(100% - 10px);
  height: 30px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.25rem;
  color: #495057;
  text-align: left;

}

.inputStyle:disabled{
  background-color: #fafafa;
  opacity: 1;
}

.example-stretched-tabs {
  max-width: 100%;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.example-button-row {
  position: fixed;
  bottom: 20px; /* ou a distância que desejar do rodapé */
  left: 20px; /* ou a distância que desejar da esquerda */
  z-index: 999; /* ajuste conforme necessário */
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
