

<mat-tab-group dynamicHeight>
  <mat-tab label="Informações Do Projeto">
    <div class="center">
      <form [formGroup]="formEntradas">
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descrição do Projeto</mat-label>
            <textarea matInput placeholder="Descrição do Projeto" formControlName="desc_projetos" rows="7" class="textAreainfos"></textarea>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Escopo do Projeto</mat-label>
            <textarea matInput placeholder="Escopo do Projeto" formControlName="desc_escopo" rows="7" class="textAreainfos"></textarea>
          </mat-form-field>
        </div>

        <div class="form-group-Select">
          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Status Atual</mat-label>
              <input matInput formControlName="ds_status_atual">
            </mat-form-field>
          </div>

          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Próximo Status</mat-label>
              <mat-select>
                <mat-option *ngFor="let status of bibStatus" [value]="status.CD_Status">{{status.DS_Status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <app-infos-analista></app-infos-analista>

        <div class="form-group-Select">
          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Tipo</mat-label>
              <mat-select>
                <mat-option *ngFor="let tecnologia of bibTecnologia" [value]="tecnologia.CD_Tipo_Tecnologia">{{tecnologia.DS_Tipo_Tecnologia}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Analista</mat-label>
              <mat-select>
                <mat-option *ngFor="let analista of bibAnalistas" [value]="analista.CD_RECURSO" >{{analista.DS_NOME}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group-input">
          <div class="container forms" >
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Dias ASP</mat-label>
              <input matInput type="number">
            </mat-form-field>
          </div>

          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Dias BD</mat-label>
              <input matInput type="number">
            </mat-form-field>
          </div>

          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Dias ASP Real</mat-label>
              <input matInput type="number" >
            </mat-form-field>
          </div>

          <div class="container forms">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Dias BD Real</mat-label>
              <input matInput type="number">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group-input">
          <div class="container">
            <mat-form-field appearance="outline">
              <mat-label>Data Inicio</mat-label>
              <input matInput [matDatepicker]="dtInicio">
              <mat-datepicker-toggle matIconSuffix [for]="dtInicio"></mat-datepicker-toggle>
              <mat-datepicker #dtInicio></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="container">
            <mat-form-field appearance="outline">
              <mat-label>Data Prazo</mat-label>
              <input matInput [matDatepicker]="dtPrazo">
              <mat-datepicker-toggle matIconSuffix [for]="dtPrazo"></mat-datepicker-toggle>
              <mat-datepicker #dtPrazo></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="container">
            <mat-form-field appearance="outline">
              <mat-label>Data Inicio Real</mat-label>
              <input matInput [matDatepicker]="dtInicialReal">
              <mat-datepicker-toggle matIconSuffix [for]="dtInicialReal"></mat-datepicker-toggle>
              <mat-datepicker #dtInicialReal></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="container">
            <mat-form-field appearance="outline">
              <mat-label>Data Prazo Real</mat-label>
              <input matInput [matDatepicker]="dtPrazoReal">
              <mat-datepicker-toggle matIconSuffix [for]="dtPrazoReal"></mat-datepicker-toggle>
              <mat-datepicker #dtPrazoReal></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group>

<div class="example-button-row">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="retornarGrid()">
        <mat-icon>reply</mat-icon>
      </button>
    </div>
  </div>
</div>

