<form [formGroup]="formEntradas">
  <div class="form-group">
    <label>Descrição do Projeto</label>
    <textarea placeholder="Descrição do Projeto"  rows="7" class="textAreainfos" formControlName="desc_projetos"></textarea>
  </div>

  <div class="form-group">
    <label>Escopo do Projeto</label>
    <textarea placeholder="Escopo do Projeto" disabled rows="7" class="textAreainfos"></textarea>
  </div>

  <div class="form-group-Select">
    <div class="container">
      <label>Status Atual</label>
      <select class="selectStyle" id="cd_StatusAtual" disabled>
        <option>Em Desenvolvimento</option>
      </select>
    </div>

    <div class="container">
      <label>Próximo Status</label>
      <select class="selectStyle" id="cd_proximoStatus">
        <option>Em Desenvolvimento</option>
      </select>
    </div>
  </div>

  <div class="form-group-input">
    <div class="container">
      <label>Dias ASP</label>
      <input type="text" class="inputStyle" disabled>
    </div>

    <div class="container">
      <label>Dias BD</label>
      <input type="text" class="inputStyle" disabled>
    </div>

    <div class="container">
      <label>Dias ASP Real</label>
      <input type="text" class="inputStyle" disabled>
    </div>

    <div class="container">
      <label>Dias BD Real</label>
      <input type="text" class="inputStyle" disabled>
    </div>
  </div>

  <div class="form-group-Select">
    <div class="container">
      <label>Analista ASP</label>
      <select class="selectStyle" id="cd_analistaASP" disabled>
      </select>
    </div>

    <div class="container">
      <label>Analista BD</label>
      <select class="selectStyle" id="cd_analistaBD" disabled>
      </select>
    </div>
  </div>

  <div class="form-group-input">
    <div class="container">
      <label>Data Inicio</label>
      <input type="text" class="inputStyle" disabled>
    </div>

    <div class="container">
      <label>Data Prazo</label>
      <input type="text" class="inputStyle" disabled>
    </div>

    <div class="container">
      <label>Data Inicio Real</label>
      <input type="text" class="inputStyle" disabled>
    </div>

    <div class="container">
      <label>Data Prazo Real</label>
      <input type="text" class="inputStyle" disabled>
    </div>
  </div>
</form>
